<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         executionOrder="random"
         failOnRisky="true"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="docs">
            <directory>tests/Docs</directory>
        </testsuite>
        <testsuite name="interop">
            <directory>tests/Interop</directory>
        </testsuite>
    </testsuites>
    <!-- Interop tests need a running NE:ONE; they are opted in with the "group" option set to "interop". -->
    <groups>
        <exclude>
            <group>interop</group>
        </exclude>
    </groups>
    <!-- Deprecations raised inside dependencies are theirs, not ours: only src/ may fail the run. -->
    <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Vocabulary/Generated</directory>
        </exclude>
    </source>
</phpunit>
